{{ form_start(form) }}
    <div>
        {{ form_label(form.oldPassword) }}
        <div>
            {{ form_errors(form.oldPassword) }}
        </div>
        {{ form_widget(form.oldPassword) }}
        <small>{{ form_help(form.oldPassword) }}</small>
    </div>
    <div>
        {{ form_label(form.plainPassword.first) }}
        <div>
            {{ form_errors(form.plainPassword.first) }}
        </div>
        {{ form_widget(form.plainPassword.first) }}
        <small>{{ form_help(form.plainPassword.first) }}</small>
    </div>
    <div>
        {{ form_label(form.plainPassword.second) }}
        <div>
            {{ form_errors(form.plainPassword.second) }}
        </div>
        {{ form_widget(form.plainPassword.second) }}
        <small>{{ form_help(form.plainPassword.second) }}</small>
    </div>
    <br> <br>
    <button type="submit" >Save</button>
{{ form_end(form) }}

