{{ form_start(form) }}
    <div class="form-control">
        {{ form_label(form.name,'name') }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
        {{ form_widget(form.name) }}
        <small>{{ form_help(form.name) }}</small>
    </div>

    <div class="form-control">
        {{ form_label(form.annotation,'annotation') }}
        <div class="form-error">
            {{ form_errors(form.annotation) }}
        </div>
        {{ form_widget(form.annotation) }}
        <small>{{ form_help(form.annotation) }}</small>
    </div>

    <div class="form-control">
        {{ form_label(form.description,'description') }}
        <div class="form-error">
            {{ form_errors(form.description) }}
        </div>
        {{ form_widget(form.description) }}
        <small>{{ form_help(form.description) }}</small>
    </div>

    <div class="form-control">
        {{ form_label(form.weight,'weight') }}
        <div class="form-error">
            {{ form_errors(form.weight) }}
        </div>
        {{ form_widget(form.weight) }}
        <small>{{ form_help(form.weight) }}</small>
    </div>


    <div class="form-control">
        {{ form_label(form.imageName,'Image Name') }}
        <div class="form-error">
            {{ form_errors(form.imageName) }}
        </div>
        {{ form_widget(form.imageName) }}
        <small>{{ form_help(form.imageName) }}</small>
    </div>

    <div class="form-control">
        {{ form_label(form.isNewProduct,'isNewProduct') }}
        <div class="form-error">
            {{ form_errors(form.isNewProduct) }}
        </div>
        {{ form_widget(form.isNewProduct) }}
        <small>{{ form_help(form.isNewProduct) }}</small>
    </div>
    <div class="form-control">
        {{ form_label(form.category,'category') }}
        <div class="form-error">
            {{ form_errors(form.category) }}
        </div>
        {{ form_widget(form.category) }}
        <small>{{ form_help(form.category) }}</small>
    </div>

    <div class="form-control">
        {{ form_label(form.subCategory,'subCategory') }}
        <div class="form-error">
            {{ form_errors(form.subCategory) }}
        </div>
        {{ form_widget(form.subCategory) }}
        <small>{{ form_help(form.subCategory) }}</small>
    </div>
    <br> <br>

    <button type="submit" >{{ button_label|default('Save') }}</button>
{{ form_end(form) }}