{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block main %}

    Category: {{ category.name }} <br><br>
    {% if not category.isElite %}
        {% for  product in category.products %}
            <div class="wrap-product">
                <a class="product-name" href="{{ path('show_product', { id: product.id }) }}">{{product.name}}</a>
                <div>
                    <a href="{{ path('show_product', { id: product.id }) }}">
                        <img class="product-img"  src="{{ asset('images/product/' ~ product.imageName) }}" alt="image">
                    </a>
                </div>


            </div>

            <br>
        {% endfor %}
    {% else %}
        {% for subcategory in category.subCategories %}
            <a href="{{ path('show_subCategory', { id: subcategory.id }) }}">{{ subcategory.name }}</a>
            <br>
        {% endfor %}
    {% endif %}


{% endblock %}
