{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block main %}

    <h2>{{ product.name }}</h2>  <br>
    <p> {{ product.weight }} kg.</p> <br>
    <p>{{ product.description }}</p>
    {{ product.imageName }}

{% endblock %}
