{% extends 'base.html.twig' %}


{% block title %}Vacancies{% endblock %}

{% block main %}

    {% for  vacancy in vacancies %}
            <h2>{{ vacancy.name}}</h2> <br>
           <p>{{ vacancy.description}}</p>
    {% endfor %}


    {{ form_start(form) }}
        <div class="form-control">
            {{ form_label(form.vacancy,'vacancy') }}
            <div class="form-error">
                {{ form_errors(form.vacancy) }}
            </div>
            {{ form_widget(form.vacancy) }}
            <small>{{ form_help(form.vacancy) }}</small>

        </div>

        <div class="form-control">
            {{ form_label(form.email,'email') }}
            <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
            {{ form_widget(form.email) }}
            <small>{{ form_help(form.email) }}</small>

        </div>

        <div class="form-control">
            {{ form_label(form.name,'name') }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
            {{ form_widget(form.name) }}
            <small>{{ form_help(form.name) }}</small>

        </div>

        <div class="form-control">
            {{ form_label(form.messageText,'messageText') }}
            <div class="form-error">
                {{ form_errors(form.messageText) }}
            </div>
            {{ form_widget(form.messageText) }}
            <small>{{ form_help(form.messageText) }}</small>

        </div>

        <button type="submit" >Save</button>
        <button type="reset">Clear</button>
    {{ form_end(form) }}

 {% endblock %}
