{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block main %}
    <h1>News</h1>

     <table>
         {% for news in pagination %}
             <tr {% if loop.index is odd %}class="color"{% endif %}>
                 <td>
                 <a href="{{ path('show_news', { id: news.id }) }}">
                     <img class="news-image" src="{{ asset('images/news/' ~ news.imageName) }}" alt="">
                     {{ news.dateCreation|date("d-m-Y") }}
                     {{ news.heading }}
                     {{ news.annotation }}
                 </a>
                 </td>
             </tr>
         {% endfor %}
     </table>
     <div class="navigation">
         {{ knp_pagination_render(pagination) }}
     </div>

{% endblock %}
