{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block main %}

         <table>
             {% for news in pagination %}
                 <tr {% if loop.index is odd %}class="color"{% endif %}>
                     <td>
                         <div  class="wrap-news">
                             <div class="news-image news-margin">
                                 {% if news.imageName is not null and news.imageName is not empty %}

                                     <a href="{{ path('show_news', { id: news.id }) }}">
                                         <img src="{{ asset('images/news/' ~ news.imageName) }}" alt="image">
                                     </a>

                                 {% endif %}
                             </div>
                             <div class="news-annotation">
                                 <a href="{{ path('show_news', { id: news.id }) }}">
                                     {{ news.dateCreation|date("m/d/Y") }}<br>
                                     {{ news.heading }}<br>
                                     {{ news.annotation }}
                                 </a>
                             </div>
                         </div>
                     </td>
                 </tr>
             {% endfor %}
         </table>

         <div class="navigation">
             {{ knp_pagination_render(pagination) }}
         </div>

{% endblock %}
