{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}



{% block main %}
    <h1>{{ title }}</h1>

    {% for award in awards %}
        <a href="{{ path('show_award', { id: award.id }) }}">
            <img class="news-image" src="{{ asset('images/award/' ~ award.imageName) }}" alt="">
            {{ award.name }}<br>
            {{ award.annotation }}
        </a><br>
    {% endfor %}


{% endblock main %}
