{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>

    {% for message in app.flashes('successContact') %}
        {%  if message %}
            <div class="success">
                <div class="alert alert-success success-message">
                    {{ message }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="contacts-wrap">
        <div>Kharkiv</div><br>
        <div>Korolenko street 777</div> <br>
        <a href="tel:+1234567890"> 12-34-567-89 </a>

    </div> <br><br>

    {% for message in app.flashes('successReview') %}
        {%  if message %}
            <div class="success">
                <div class="alert alert-success success-message">
                    {{ message }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="form-wrap">
        <p>Message to administrator</p>
        {{ include('contact/_formContact.html.twig') }}
    </div>
{% endblock %}
