<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="nav">
                    <div class="logo">
                        <a href="{{ path('homepage')  }}">
                            <img src="{{ asset('images/logo.png') }}" alt="logo">
                        </a>
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('homepage') }}">Homepage</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('about_company') }}">About company</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('all_news') }}">News</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('categories') }}">Our production</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('custom_cakes') }}">Custom-made</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('stores') }}">Stores</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('reviews') }}">Reviews</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('contact') }}">Contacts</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="menu-item dropdown">
                                <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">admin</a>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                   <a class="dropdown-item" href="{{ asset('http://127.0.0.1:8001/admin/dashboard') }}">Admin panel</a>
                                   <a class="dropdown-item" href="{{ asset('logout') }}">Logout</a>
                               </div>
                            </li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class="menu-item dropdown">
                                <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{{ asset('account') }}">Manage Account</a>
                                    <a class="dropdown-item" href="{{ asset('logout') }}">Logout</a>
                                </div>
                            </li>
                        {%  else %}
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer>
           <div class="container">
           </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block js %}{% endblock %}
    </body>
</html>
