<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="nav">
                    <div class="logo">
                        <a href="{{ path('homepage')  }}">
                            <img src="{{ asset('images/logo.png') }}" alt="logo">
                        </a>
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('homepage') }}">Homepage</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('about_company') }}">About company</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('all_news') }}">News</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('categories') }}">Our production</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('custom_cakes') }}">Custom cakes</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('shop') }}">Shops</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('review') }}">Reviews</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('contact') }}">Contacts</a>
                        </li>
                    </ul
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                {% block main %}{% endblock %}

            </div>

        </main>
        <footer>
           <div class="container">

           </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
